<%- include('master.ejs') %>
<div class="podst">
    <div class="container">

        <div class="row">

            <div class="col col-sm-8 col-md-10">
                <h1 style="color: white;" class="display-2">FAQ</h1>
            </div>


        </div>

        <div class="formContent" style="margin: auto;">

            <div class="row">
                <label class="text-label">Najczęściej zadawane pytania</label>
            </div>


            <div class="row">
                <div class="text-label" style="text-align: center;">
                    <h1>¯\_(ツ)_/¯</h1>
                </div>
            </div>

            <div class="row">
                <div class="col text-start">
                    <span class="text-label">Czy trzeba zabierać ze sobą komputery?</span>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4 col-sm-0 text-start">
                </div>
                <div class="col col-md-8 col-sm-12 text-start">
                    <span>NIE :) wszystko zapewniamy.</span>
                </div>
            </div>

            <div class="row">
                <div class="col text-start">
                    <span class="text-label">Czy trzeba przyjść z opiekunem?</span>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4 col-sm-0 text-start">
                </div>
                <div class="col col-md-8 col-sm-12 text-start">
                    <span>Tak, jeśli nie ukończyłeś 18 roku życia i chodzisz do szkoły podstawowej musisz przyjść z rodzicem lub innym dorosłym opiekunem.</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4 col-sm-0 text-start">
                </div>
                <div class="col col-md-8 col-sm-12 text-start">
                    <span>Jeśli jesteś ze szkoły średniej - opiekunem może być nauczyciel, rodzic lub inny dorosły opiekun.</span>
                </div>
            </div>

            <div class="row">
                <div class="col text-start">
                    <span class="text-label">Czy szkoła średnia może zgłosić więcej niż jeden zespół?</span>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4 col-sm-0 text-start">
                </div>
                <div class="col col-md-8 col-sm-12 text-start">
                    <span>Tak, ale do finału przejdzie tylko jeden wyłoniony w eliminacjach.</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4 col-sm-0 text-start">
                </div>
                <div class="col col-md-8 col-sm-12 text-start">
                    <span>W finale będzie 8 różnych szkół.</span>
                </div>
            </div>


        </div>


    </div>
</div>
<%- include('footer.ejs') %>