<%- include('master.ejs') %>
<div class="bodyGlowna">
<div class="container">

    <!-- <div class="row">
        <div class="col col-sm-2 col-md-1">
            <div class="sticky-top">
                <img src="../images/minecraft.png" width="100%">
            </div>
        </div>
        <div class="col col-sm-8 col-md-10">
            
        </div>
        

        <div class="col col-sm-2 col-md-1">
            <div class="sticky-top">
                <img src="../images/minecraft2.png" width="100%">
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col col-2 text-start">
            <h1 style="color:white;text-align: center;" class="display-2 fw-bold">CS</h1>
        </div>
        <div class="col col-8 text-start">
            <h1 style="color:white;text-align: center;" class="display-2 fw-bold">Zawody 2023</h1>
        </div>
        <div class="col col-2 text-start">
            <h1 style="color:white;text-align: center;" class="display-2 fw-bold">LoL</h1>
        </div>
    </div>

    <div class="formContent" style="margin: auto;">

       <div class="row">
            <label class="text-label">Celem wydarzenia jest
            </label>
        </div>
          
    </div>
    <div class="formContent" style="margin-top: 1rem; background-color: white !important;">
        <div class="row mb-2 d-flex justify-content-center">
            <div class="col col-md-12 col-sm-12">
                <img src="../images/belka.png" alt="..." height="100%" width="100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <label class="text-label4">Działanie odbywa się w ramach projektu "Kształcenie 4.0"
                    współfinansowanego ze środków Europejskiego Funduszu Społecznego na podstawie umowy nr
                    POWR.03.05.00-00-Z103/18-00 w ramach Programu Operacyjnego Wiedza Edukacja Rozwój 2014 - 2020, Oś
                    Priorytetowa III Szkolnictwo wyższe dla gospodarki i rozwoju, Działanie 3.5 Kompleksowe programy
                    szkół wyższych.</label>
            </div>
        </div>
    </div>
    

</div>
</div>

<%- include('footer.ejs') %>