<%- include('master.ejs') %>
<div class="podst">
    <div class="container">

        <div class="row">

            <div class="col col-sm-8 col-md-10">
                <h1 style="color: white;" class="display-2"></h1>
            </div>


        </div>

        <div class="formContent" style="margin: auto;">

            <div class="row">
                <label class="text-label">Kontakt</label>
            </div>

            <div class="row">
                <div class="col text-center">
                    <span>Email:</span> <a href="mailto:123@123.pl">123@123.pl</a>
                </div>
            </div>




        </div>


    </div>
</div>
<%- include('footer.ejs') %>