<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="tQdeoXkhSXDYEpSersQLQyaOhyE9OqWTha8uLmyXGIY"/>
    <title>ANS w Elblągu Hackathon</title>
    <meta property="og:title" content="Minecraft Hackathon 2022 ANS w Elblągu">
    <meta property="og:site_name" content="hackathon.ans-elblag.pl">
    <meta property="og:url" content="https://hackathon.ans-elblag.pl/">
    <meta property="og:description" content="Zawody minecraft'owe dla kreatywnych budowniczych :)">
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://hackathon.ans-elblag.pl/images/minecraft_hackathon.png">

    <link rel="icon" type="image/x-icon" href="/images/logo_ANS_icon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('a').each(function () {
                if ($(this).prop('href') == window.location.href) {
                    $(this).addClass('active');
                }
            });
        });
    </script>
</head>
<body class="boddy2 body-glowna">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="https://ans-elblag.pl" target="_blank">
            <img src="../images/logo_ANS.webp" alt="..." height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a style="display: flex; align-items: center !important;"  class="nav-link text-white text-nowrap" href="/">Strona główna</a>
                </li>
                <!-- <li class="nav-item">
                    <a style="display: flex; align-items: center !important;" class="nav-link text-white text-nowrap" href="/podst">Szkoła podstawowa</a>
                </li>
                <li class="nav-item">
                    <a style="display: flex; align-items: center !important;"  class="nav-link text-white text-nowrap" href="/srednie">Szkoła średnia</a></li>
                </li>
                <li class="nav-item">
                    <a style="display: flex; align-items: center !important;"  class="nav-link text-white" href="/student">Studenci</a>
                </li> -->
                <li class="nav-item">
                    <a style="display: flex; align-items: center !important;"  class="nav-link text-white" href="/selectGame">Zapisy</a>
                </li>
                <li class="nav-item">
                    <a style="display: flex; align-items: center !important;"  class="nav-link text-white" href="/drabinkaLoL">Drabinka LoL</a>
                </li>
                <li class="nav-item">
                    <a style="display: flex; align-items: center !important;"  class="nav-link text-white" href="/drabinkaCS">Drabinka CS</a>
                </li>
                <li class="nav-item">
                    <a style="display: flex; align-items: center !important;"  class="nav-link text-white" href="/faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a style="display: flex; align-items: center !important;"  class="nav-link text-white" href="/kontakt">Kontakt</a>
                </li>
            </div>
        </div>
    </div>
</nav>

    