  <form id="my-form-stu" class="formContent" style="margin: auto;">
    <div class="">
      <!-- template.ejs -->
      



      <div class="formNazwaSzkola col">

        <input id="selectGameInput" type="hidden" name="selectGame" required/>
      

        <div class="" style="text-align: center;">
          <h1>Formularz zapisu zespołu z Akademii Nauk Stosowanych w Elblągu</h1>
        </div>

        <label id="selectGameLabel">Nie wybrano gry</label>

        <div class="row">
            <div class="col ">
              <label>Nazwa zespołu:</label>
              <div class="">
                <input
                  type="text"
                  class=""

                  name="teamname"
                  placeholder="nazwa zespołu"
                  required
                />
              </div>
            </div>
        
        <div class="col">
          <label>Nazwa uczelni:</label>
          <div class="">
            <input
              type="text"
              class=""
              value="ANS w Elblągu"
              name="schoolname"
              placeholder="nazwa szkoły"
              readonly
              
            />
          </div>
        </div>
    </div>
      </div>
  
      <input type="hidden" name="schoollevel" value="student" />
      
      <div class="formContent-osoby row label-show">
        <div class="col osoba">
        </div>
        <div class="col">
          <label >Imię:</label>
          <div class="">

          </div>
        </div>
        <div class="col">
          <label >Nazwisko:</label>
          <div class="">

          </div>
        </div>
        <div class="col">
          <label >e-mail:</label>
          <div class="">

          </div>
        </div>
        <div class="col">
          <label >Indeks:</label>
          <div class="">

          </div>
        </div>
        
      </div>

      <div class="formContent-osoby row ">
        <div class="col align-self-center osoba">
          <label>Zawodnik nr 1:</label>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Imię:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="imię"
              name="imie1"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Nazwisko:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="nazwisko"
              name="nazwisko1"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">e-mail:</label>
          <div class="">
            <input
              type="email"
              class=""
              placeholder="e-mail"
              name="email1"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Indeks:</label>
          <div class="">
            <input
              type="number"
              class=""
              placeholder="indeks"
              name="index1"
              required
            />
          </div>
        </div>
        
      </div>
  
  
      <div class="formContent-osoby row" >
        <div class="col align-self-center osoba">
          <label>Zawodnik nr 2:</label>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Imię:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="imię"
              name="imie2"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Nazwisko:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="nazwisko"
              name="nazwisko2"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">e-mail:</label>
          <div class="">
            <input
              type="email"
              class=""
              placeholder="e-mail"
              name="email2"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Indeks:</label>
          <div class="">
            <input
              type="number"
              class=""
              placeholder="indeks"
              name="index2"
              required
            />
          </div>
        </div>
      </div>
  
      <div class="formContent-osoby row" >
        <div class="col align-self-center osoba">
          <label>Zawodnik nr 3:</label>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Imię:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="imię"
              name="imie3"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Nazwisko:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="nazwisko"
              name="nazwisko3"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">e-mail:</label>
          <div class="">
            <input
              type="email"
              class=""
              placeholder="e-mail"
              name="email3"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Indeks:</label>
          <div class="">
            <input
              type="number"
              class=""
              placeholder="indeks"
              name="index3"
              required
            />
          </div>
        </div>
      </div>
  
      <div class="formContent-osoby row" >
        <div class="col align-self-center osoba">
          <label>Zawodnik nr 4:</label>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Imię:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="imię"
              name="imie4"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Nazwisko:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="nazwisko"
              name="nazwisko4"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">e-mail:</label>
          <div class="">
            <input
              type="email"
              class=""
              placeholder="e-mail"
              name="email4"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Indeks:</label>
          <div class="">
            <input
              type="number"
              class=""
              placeholder="indeks"
              name="index4"
              required
            />
          </div>
        </div>
      </div>

      <div class="formContent-osoby row" >
        <div class="col align-self-center osoba">
          <label>Zawodnik nr 5:</label>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Imię:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="imię"
              name="imie5"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Nazwisko:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="nazwisko"
              name="nazwisko5"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">e-mail:</label>
          <div class="">
            <input
              type="email"
              class=""
              placeholder="e-mail"
              name="email5"
              required
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Indeks:</label>
          <div class="">
            <input
              type="number"
              class=""
              placeholder="indeks"
              name="index5"
              required
            />
          </div>
        </div>
      </div>



      <div class="formContent-osoby row" >
        <div class="col align-self-center osoba ">
          <label>Zawodnik Rezerwowy nr 1:</label>
        </div>
        <div class="col align-self-center" >
          <label class="label-hidden">Imię:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="imię"
              name="imie6"
              
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Nazwisko:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="nazwisko"
              name="nazwisko6"
              
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">e-mail:</label>
          <div class="">
            <input
              type="email"
              class=""
              placeholder="e-mail"
              name="email6"
              
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Indeks:</label>
          <div class="">
            <input
              type="number"
              class=""
              placeholder="indeks"
              name="index6"
            />
          </div>
        </div>
      </div>


      <div class="formContent-osoby row" >
        <div class="col align-self-center osoba">
          <label>Zawodnik Rezerwowy nr 2:</label>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Imię:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="imię"
              name="imie7"
              
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Nazwisko:</label>
          <div class="">
            <input
              type="text"
              class=""
              placeholder="nazwisko"
              name="nazwisko7"
              
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">e-mail:</label>
          <div class="">
            <input
              type="email"
              class=""
              placeholder="e-mail"
              name="email7"
              
            />
          </div>
        </div>
        <div class="col align-self-center">
          <label class="label-hidden">Indeks:</label>
          <div class="">
            <input
              type="number"
              class=""
              placeholder="indeks"
              name="index7"
            />
          </div>
        </div>
      </div>



  
    </div>


    <div class="" style="text-align: center;">
      <label>Wysłanie formularza jest jednoznaczne z akceptacją <a href="regulamin/regulamin.pdf" download>regulaminu.</a></label>
    </div>

    <div class="message2" id="message2"></div>

    <div class="formContent-btn">
      <button type="submit" id="btn2" class="mcbutton">Wyślij</button>
    </div>

  </form>

  <script>

    function OffButton() {

      const elementsbtn2 = document.querySelectorAll("#btn2");
                elementsbtn2.forEach(element => {
                    element.disabled = true
                    element.innerText = "Wysyłanie..."
                });


      // var btn = document.getElementById("btn2");
      // btn.disabled = true;
      // btn.innerText = "Wysyłanie...";
    }
    function OnButton() {

      const elementsbtn2 = document.querySelectorAll("#btn2");
                elementsbtn2.forEach(element => {
                    element.disabled = false
                    element.innerText = "Wyślij"
                });
    }


    $(document).ready(function() {
     $('#my-form-stu').submit(function(event) {
         event.preventDefault(); // Prevent the form from submitting normally
         OffButton()
         // Get the form data
         var formData = $('#my-form-stu').serialize();
 
         // Submit the form data using AJAX
         $.ajax({
         type: 'POST',
         url: '/postteam',
         data: formData,
         success: function(response) {
          if (response.message) {
            $('.message2').html('<p>' + response.message + '</p>');
          }
          if (response.ErrorMessage) {
            $('.message2').html('<p style="color: red">' + response.ErrorMessage + '</p>');
          }

             // If the server returns a success message, display it
             
             OnButton()
         },
         error: function(xhr, status, error) {
             // If the server returns an error message, display it
             var errorMessage = JSON.parse(xhr.responseText).message;
             $('.message2').html('<p>' + errorMessage + '</p>');
             OnButton()
         }
         });
     });
     }); 
 </script>


  <script>
   



  </script>
  